<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">

<head>
    <title>관리자 페이지</title>
</head>

<body>
<main layout:fragment="main">

    <div class="container mx-auto flex-grow flex items-center justify-center">
        <div>
        <h1>정산 데이터 생성</h1>
        <form>
            <select class="select select-bordered">
                <option value="2022-11">2022-11</option>
                <option value="2022-10">2022-10</option>
            </select>

            <input class="btn btn-info" type="submit" value="생성">
        </form>
        </div>
    </div>


</main>
</body>

</html>