<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>주문 상세내용</title>
</head>

<body>
<main layout:fragment="main">
    <script src="https://js.tosspayments.com/v1"></script>

    <script th:inline="javascript">
        const orderId = /*[[ ${order.id} ]]*/ null;
        const buyerName = /*[[ ${order.member.username} ]]*/ null;
        const orderName = /*[[ ${order.name} ]]*/ null;
        const orderPayPrice = /*[[ ${order.getTotalPayPrice} ]]*/ null;
    </script>

    <script>
        // https://developers.tosspayments.com -> 본인 시크릿키 적용
        const tossPayments = TossPayments("test_ck_aBX7zk2yd8yWXEvbYGqVx9POLqKQ");

        function payment() {
            const method = "카드"; // "카드" 혹은 "가상계좌"

            const paymentData = {
                amount: orderPayPrice,
                orderId: "order__" + orderId + "__" + (Math.random() + "").substring(2), // 결제 테스트를 위해 랜덤 값 생성
                orderName,
                customerName: buyerName,
                successUrl: window.location.origin +"/order/" + orderId + "/success",
                failUrl: window.location.origin + "/order/" + orderId + "/fail",
            };

            tossPayments.requestPayment(method, paymentData);
        }
    </script>

    <section class="section section-write container mx-auto">

        <div class="px-2 pt-4">
            <h1 class="font-bold text-lg">주문 상세내용</h1>

            <div class="flex flex-col gap-3 mt-3">
                <div>
                    주문번호 : [[${order.id}]]
                </div>

                <div>
                    주문날짜 : [[${#temporals.format(order.createdDate, 'yyyy-MM-dd HH:mm')}]]
                </div>

                <div>
                    주문자 : [[${order.member.username}]]
                </div>

                <div>
                    주문가격 : [[${order.getTotalPayPrice}]]
                </div>

                <div>
                    주문상태 : [[${order.orderStatus}]]
                </div>

                <div>
                    <div th:each="orderItem : ${order.orderItems}">
                        <div>
                            제목 : [[${orderItem.product.subject}]] /
                            작가 : [[${orderItem.product.member.username}]] /
                            가격 : [[${orderItem.salePrice}]]
                        </div>
                    </div>
                </div>

                <div>
                    <button onclick="payment();" class="btn btn-sm btn-info">카드결제</button>
                </div>
            </div>
        </div>
    </section>

</main>
</body>
</html>