<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<body>
<main layout:fragment="main">
  <section class="section container mx-auto px-4">
    <br/>
    <h1>상품 리스트</h1>
    <br/>
    <div class="overflow-x-auto relative">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-blue-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="py-3 px-6">번호</th>
          <th scope="col" class="py-3 px-6">제목</th>
          <th scope="col" class="py-3 px-6">가격</th>
          <th scope="col" class="py-3 px-6">작가</th>
          <th scope="col" class="py-3 px-6">작성날짜</th>
          <th scope="col" class="py-3 px-6">수정날짜</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="product : ${productList}">
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white" th:text="${product.id}"></th>
            <td class="py-4 px-6">
              <a th:href="@{|/product/${product.id}|}" th:text="${product.subject}"></a>
            </td>
            <td class="py-4 px-6" th:text="${product.price}"></td>
            <td class="py-4 px-6" th:text="${product.member.username}"></td>
            <td class="py-4 px-6" th:text="${#temporals.format(product.createdDate, 'yyyy-MM-dd hh:mm')}"></td>
            <td class="py-4 px-6" th:text="${#temporals.format(product.modifiedDate, 'yyyy-MM-dd hh:mm')}"></td>
          </tr>
        </th:block>
        </tbody>
      </table>
    </div>
    <br/>
    <div class = "col-6">
      <a th:href="@{|/product/create|}" class="btn btn-active btn-info">상품 등록</a>
    </div>
  </section>

</main>
</body>
</html>