<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <style>
        .fieldError { color:red; font-size:12px;}
    </style>
    <title>비밀번호수정</title>
</head>

<body>

<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">비밀번호수정</h1>
            <form th:action method="POST" class="flex flex-col gap-3"
                  th:object="${memberPasswordModifyRequestDto}">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">기존 비밀번호</span>
                    </label>
                    <input type="password" id="oldPassword" name="oldPassword" placeholder="기존 비밀번호" class="input input-bordered" maxlength="16">
                </div>
                <p th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}" class="fieldError"></p>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">변경할 비밀번호</span>
                    </label>
                    <input type="password" id="password" name="password" placeholder="변경할 비밀번호를 입력해주세요" class="input input-bordered" maxlength="16">
                </div>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError"></p>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">비밀번호 확인</span>
                    </label>
                    <input type="password" name="passwordCheck"
                           placeholder="비밀번호 확인" class="input input-bordered" maxlength="16">
                </div>
                <p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}" class="fieldError"></p>

                <div class="grid grid-cols-2 mt-2 gap-2">
                    <input class="btn btn-primary" type="submit" value="비밀번호수정">
                </div>
            </form>
        </div>

        </div>
    </section>

</main>
</body>
</html>