<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <style>
        .fieldError { color:red; font-size:12px;}
    </style>
    <title>비밀번호 찾기</title>
</head>

<body>

<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">비밀번호 찾기</h1>
            <form th:action method="POST" class="flex flex-col gap-3"
                  th:object="${passwordFindRequestDto}">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">아이디</span>
                    </label>
                    <input autofocus type="text" name="username" placeholder="아이디" class="input input-bordered"
                           maxlength="16" th:field="*{username}">
                </div>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="fieldError"></p>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">이메일</span>
                    </label>
                    <input type="email" id="email" name="email" placeholder="이메일" class="input input-bordered" maxlength="50" th:field="*{email}">
                </div>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError"></p>

                <div class="grid grid-cols-2 mt-2 gap-2">
                    <input class="btn btn-primary" type="submit" value="비밀번호 찾기">
                </div>
            </form>
        </div>

        </div>
    </section>

</main>
</body>
</html>